fr.univartois.ili.fsnet/trayDesktop/src/wsdl/fsnet/webservice/Info.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.fsnet.ili.univartois.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.fsnet.ili.univartois.fr/" name="InfoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.fsnet.ili.univartois.fr/" schemaLocation="Info.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getNewEventsCount">
<part name="parameters" element="tns:getNewEventsCount"></part>
</message>
<message name="getNewEventsCountResponse">
<part name="parameters" element="tns:getNewEventsCountResponse"></part>
</message>
<message name="getNewAnnouncementCount">
<part name="parameters" element="tns:getNewAnnouncementCount"></part>
</message>
<message name="getNewAnnouncementCountResponse">
<part name="parameters" element="tns:getNewAnnouncementCountResponse"></part>
</message>
<message name="getNewMessages">
<part name="parameters" element="tns:getNewMessages"></part>
</message>
<message name="getNewMessagesResponse">
<part name="parameters" element="tns:getNewMessagesResponse"></part>
</message>
<portType name="Info">
<operation name="getNewEventsCount">
<input message="tns:getNewEventsCount"></input>
<output message="tns:getNewEventsCountResponse"></output>
</operation>
<operation name="getNewAnnouncementCount">
<input message="tns:getNewAnnouncementCount"></input>
<output message="tns:getNewAnnouncementCountResponse"></output>
</operation>
<operation name="getNewMessages">
<input message="tns:getNewMessages"></input>
<output message="tns:getNewMessagesResponse"></output>
</operation>
</portType>
<binding name="InfoPortBinding" type="tns:Info">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getNewEventsCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNewAnnouncementCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNewMessages">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="InfoService">
<port name="InfoPort" binding="tns:InfoPortBinding">
<soap:address location="http://localhost:8084/webservice-0.1/Info"></soap:address>
</port>
</service>
</definitions>