trunk/fr.univartois.ili.fsnet/trayDesktop/src/wsdl/fsnet/webservice/Info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.fsnet.ili.univartois.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.fsnet.ili.univartois.fr/" name="InfoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.fsnet.ili.univartois.fr/" schemaLocation="Info.xsd" />
</xsd:schema>
</types>
<message name="getNewEventsCount">
<part name="parameters" element="tns:getNewEventsCount" />
</message>
<message name="getNewEventsCountResponse">
<part name="parameters" element="tns:getNewEventsCountResponse" />
</message>
<message name="getNewAnnouncementCount">
<part name="parameters" element="tns:getNewAnnouncementCount" />
</message>
<message name="getNewAnnouncementCountResponse">
<part name="parameters" element="tns:getNewAnnouncementCountResponse" />
</message>
<message name="getNewMessages">
<part name="parameters" element="tns:getNewMessages" />
</message>
<message name="getNewMessagesResponse">
<part name="parameters" element="tns:getNewMessagesResponse" />
</message>
<portType name="Info">
<operation name="getNewEventsCount">
<input wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewEventsCountRequest" message="tns:getNewEventsCount" />
<output wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewEventsCountResponse" message="tns:getNewEventsCountResponse" />
</operation>
<operation name="getNewAnnouncementCount">
<input wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewAnnouncementCountRequest" message="tns:getNewAnnouncementCount" />
<output wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewAnnouncementCountResponse" message="tns:getNewAnnouncementCountResponse" />
</operation>
<operation name="getNewMessages">
<input wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewMessagesRequest" message="tns:getNewMessages" />
<output wsam:Action="http://webservice.fsnet.ili.univartois.fr/Info/getNewMessagesResponse" message="tns:getNewMessagesResponse" />
</operation>
</portType>
<binding name="InfoPortBinding" type="tns:Info">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getNewEventsCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNewAnnouncementCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNewMessages">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="InfoService">
<port name="InfoPort" binding="tns:InfoPortBinding">
<soap:address location="http://localhost:8084/webservice-0.1/" />
</port>
</service>
</definitions>